node_modules/
bower_components/
config.js
config-old.js
config.ts
config.map.js
tmp/
doc/
app/**/*.js
models/**/*.js
routes/**/*.js
**/*.js.map
server.js
dist/
typings/
app/styles.css
app/styles.css.map
batch/
.vs/
obj/
*.csproj
*.csproj.user
web.Debug.config
web.config
web.Release.config
*.sln