# Fichiers générés
app/**/*.js
models/**/*.js
routes/**/*.js
**/*.js.map
server.js
app/**/*.css
app/**/*.css.map

# Déploiement et documentation
tmp/
doc/
dist/

# Modules et bibliothèques
node_modules/
bower_components/
typings/

# Fichier de config
config.js
config-old.js
config.ts
config.map.js

# Visual Studio
.vs/
obj/
*.csproj
*.csproj.user
web.Debug.config
web.config
web.Release.config
*.sln

# Autres
batch/
.tscache
