<div class="harpagserie-root">
  <md-toolbar class="md-primary md-hue-1">
    <div class="md-toolbar-tools">
      <span>Harpag'serie</span>
    </div>
  </md-toolbar>

  <section class="navigation">
    <a ng-click="vm.currentTab = 'myAccount'" ng-class="{active: (vm.currentTab == 'myAccount')}">Mon Compte</a>
    <a ng-click="vm.currentTab = 'allBuquages'" ng-class="{active: (vm.currentTab == 'allBuquages')}">Tous les buquages</a>
    <a ng-click="vm.currentTab = 'addOne'" ng-class="{active: (vm.currentTab == 'addOne')}">Ajouter un buquage</a>
    <a ng-click="vm.currentTab = 'importCsv'" ng-class="{active: (vm.currentTab == 'importCsv')}">Importer en masse</a>
  </section>

  <section class="myAccount" ng-if="vm.currentTab == 'myAccount'">
    <div>
      <div layout="row" class="summary">
        <span flex="80">Votre solde au {{vm.today}} </span>
        <span flex="20" class="solde" ng-class="{positif: vm.solde > 0, negatif: vm.solde < 0}">{{vm.solde >= 0 ? '+' : '-'}} {{vm.solde}}</span>
      </div>
      <div layout="row">
        <div flex="30">Date Manip</div>
        <div flex="50">Libellé Manip</div>
        <div flex="20">Valeur</div>
      </div>
      <div ng-repeat="buquage in vm.buquages" layout="row">
        <div flex="30">{{buquage.dateManip.format('LL')}}</div>
        <div flex="50">{{buquage.manip}}</div>
        <div flex="20" ng-class="{positif: buquage.isFromPgtoProms, negatif: !buquage.isFromPgtoProms}">{{buquage.isFromPgtoProms ? '+' : '-'}} {{buquage.montant}}</div>
      </div>
      <div layout="row" class="summary">
        <span flex="80">Votre solde au {{vm.today}} </span>
        <span flex="20" class="solde" ng-class="{positif: vm.solde > 0, negatif: vm.solde < 0}">{{vm.solde >= 0 ? '+' : '-'}} {{vm.solde}}</span>
      </div>
    </div>
  </section>
</div>
