<div class="harpagserie-root">
  <md-toolbar class="md-primary md-hue-1">
    <div class="md-toolbar-tools">
      <span>Harpag'serie</span>
    </div>
  </md-toolbar>

  <section class="navigation">
    <a ng-click="vm.currentTab = 'myAccount'" ng-class="{active: (vm.currentTab == 'myAccount')}">Mon Compte</a>
    <a ng-click="vm.currentTab = 'allBuquages'" ng-class="{active: (vm.currentTab == 'allBuquages')}">Tous les buquages</a>
    <a ng-click="vm.currentTab = 'addOne'" ng-class="{active: (vm.currentTab == 'addOne')}">Ajouter un buquage</a>
    <a ng-click="vm.currentTab = 'importCsv'" ng-class="{active: (vm.currentTab == 'importCsv')}">Importer en masse</a>
  </section>

  <section class="myAccount" ng-if="vm.currentTab == 'myAccount'">
    <div>
      <span>Votre solde au {{vm.today}} </span>
      <span class="solde" ng-class="{positif: vm.solde > 0, negatif: vm.solde < 0}">{{vm.solde >= 0 ? '+' : '-'}} {{vm.solde}}</span>
    </div>
    <table>
      <tr>
        <th>Date Manip</th>
        <th>Libellé Manip</th>
        <th>Valeur</th>
      </tr>
      <tr ng-repeat="buquage in vm.buquages">
        <td>{{buquage.dateManip.format('LL')}}</td>
        <td>{{buquage.manip}}</td>
        <td ng-class="{positif: buquage.isFromPgtoProms, negatif: !buquage.isFromPgtoProms}">{{buquage.isFromPgtoProms ? '+' : '-'}} {{buquage.montant}}</td>
      </tr>
    </table>
    <div>
      <span>Votre solde au {{vm.today}} </span>
      <span class="solde" ng-class="{positif: vm.solde > 0, negatif: vm.solde < 0}">{{vm.solde >= 0 ? '+' : '-'}} {{vm.solde}}</span>
    </div>
  </section>
</div>
