<md-dialog aria-label="Fiche utilisateur" class="sdp-popup">
    <md-toolbar class="md-primary md-hue-1">
        <div class="md-toolbar-tools">
            Fiche utilisateur
        </div>
    </md-toolbar>
    <md-dialog-content data-layout="column" data-layout-padding data-layout-margin>

      <div data-layout="row">
        <md-input-container data-flex="25">
          <label>Prénom</label>
          <input type="text" data-ng-model="vm.user.firstname">
        </md-input-container>

        <md-input-container data-flex="25">
          <label>Nom</label>
          <input type="text" data-ng-model="vm.user.lastname">
        </md-input-container>

        <md-input-container data-flex="25">
          <label>Buque</label>
          <input type="text" data-ng-model="vm.user.buque">
        </md-input-container>

        <md-input-container data-flex="25">
          <label>Fam's</label>
          <input type="text" data-ng-model="vm.user.fams">
        </md-input-container>
      </div>

      <div data-layout="row">
        <md-input-container data-flex="25">
          <label>Téléphone</label>
          <input type="text" data-ng-model="vm.user.phone">
        </md-input-container>

        <md-input-container data-flex="25">
          <label>Adresse</label>
          <input type="text" data-ng-model="vm.user.adress">
        </md-input-container>
      </div>


    </md-dialog-content>
    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="vm.hide()" class="md-primary">Retour</md-button>
        <md-button ng-click="vm.valider()" class="md-warn md-raised">Sauvegarder</md-button>
    </div>
</md-dialog>
