<md-dialog aria-label="Fiche utilisateur">
    <md-toolbar class="md-primary md-hue-1">
        <div class="md-toolbar-tools">
            Fiche utilisateur
        </div>
    </md-toolbar>
    <md-dialog-content>

      Test

    </md-dialog-content>
    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="cancel()" class="md-primary">Retour</md-button>
        <md-button ng-click="valider()" class="md-warn md-raised">Sauvegarder</md-button>
    </div>
</md-dialog>
