<md-toolbar class="md-primary md-hue-1">
  <div class="md-toolbar-tools">
    <span>Administration</span>
    <span data-flex></span>
    <md-button class="md-icon-button" data-ng-click="vm.addUser()">
      <i class="fa fa-plus sdp-success"></i>
      <md-tooltip>Ajouter</md-tooltip>
    </md-button>
  </div>
</md-toolbar>
<md-content>
  <md-list>
    <md-list-item data-ng-repeat="user in vm.users | orderBy:'email1':false" ng-click="vm.select(user._id)">
      <p>{{ user.email1 }} - {{ user._id }}</p>
      <md-button class="md-secondary md-icon-button" data-ng-click="vm.deleteUser(user._id)">
        <i class="fa fa-times sdp-warn"></i>
        <md-tooltip>Supprimer</md-tooltip>
      </md-button>
      <md-divider></md-divider>
    </md-list-item>
  </md-list>
</md-content>
